<div class="p-4">
  <div class="flex" [ngStyle]="{ gap: '2rem' }">
    <p-button
      label="Participants"
      (onClick)="openParticipantsModal()"
    ></p-button>

    <p-button
      label="Draw races"
      [disabled]="!isDrawButtonEnabled"
      (onClick)="drawRaces()"
    ></p-button>
  </div>

  <div class="grid mt-4">
    <div class="col-3" *ngFor="let race of roundDto.races">
      <app-round-race-view [raceNullable]="race"></app-round-race-view>
    </div>
  </div>
</div>

<p-dialog
  header="Participants"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [(visible)]="isParticipantsModalOpen"
  [style]="{ width: '50vw' }"
>
  <div class="grid">
    <div
      *ngFor="let participant of roundDto.participantsNames; let i = index"
      class="col-3 p-0"
    >
      <p class="text-sm">{{ i + 1 + '. ' + participant }}</p>
    </div>
  </div>
</p-dialog>
