<div class="w-full h-full flex justify-content-center align-items-center">
  <div class="testing-grid">
    <div class="grid-item" (click)="sendCommand('OFF')">
      <p>OFF</p>
    </div>
    <div class="grid-item" (click)="sendCommand('ON')">
      <p>ON</p>
    </div>
    <div class="grid-item" (click)="sendCommand('GO_UP')">
      <p>GO UP</p>
    </div>
    <div class="grid-item" (click)="sendCommand('GO_DOWN')">
      <p>GO DOWN</p>
    </div>
    <div class="grid-item" (click)="sendCommand('ARM')">
      <p>ARM</p>
    </div>
    <div class="grid-item" (click)="sendCommand('START')">
      <p>START</p>
    </div>
    <div class="grid-item" (click)="sendCommand('FINISH')">
      <p>FINISH</p>
    </div>
    <div class="grid-item" (click)="sendCommand('CANCEL')">
      <p>CANCEL</p>
    </div>
  </div>
</div>
