<div class="w-full h-full flex justify-content-center align-items-center">
  <div class="testing-grid">
    <div class="grid-item" (click)="makeTestRequest('OFF')">
      <p>OFF</p>
    </div>
    <div class="grid-item" (click)="makeTestRequest('ON')">
      <p>ON</p>
    </div>
    <div class="grid-item" (click)="makeTestRequest('GO_UP')">
      <p>GO UP</p>
    </div>
    <div class="grid-item" (click)="makeTestRequest('GO_DOWN')">
      <p>GO DOWN</p>
    </div>
    <div class="grid-item" (click)="makeTestRequest('ARM')">
      <p>ARM</p>
    </div>
    <div class="grid-item" (click)="makeTestRequest('START')">
      <p>START</p>
    </div>
    <div class="grid-item" (click)="makeTestRequest('FINISH')">
      <p>FINISH</p>
    </div>
    <div class="grid-item" (click)="makeTestRequest('CANCEL')">
      <p>CANCEL</p>
    </div>
  </div>
</div>
