.testing-grid {
  width: 75%;
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 64px;
}

.grid-item {
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: cadetblue;
}

.grid-item:hover {
  background-color: rgb(147, 208, 210);
  cursor: pointer;
}
