<div class="flex align-items-center flex-column w-full my-6" style="gap: 3rem">
  <div class="flex" [ngStyle]="{ gap: '1rem' }">
    <p-button
      label="Configure circuit"
      (onClick)="handleOpenCircuitForm()"
    ></p-button>

    <p-button
      label="Configure score rules"
      (onClick)="handleOpenScoreRulesForm()"
    ></p-button>

    <p-button label="Add round" (onClick)="handleOpenNewRoundForm()"></p-button>
  </div>

  <span>
    Circuit: {{ seasonEvent.circuit?.name }}<br />
    Checkpoints: {{ seasonEvent.circuit?.checkpoints?.length }}<br />
    Rounds: {{ rounds.length }}
  </span>

  <p-table [value]="rounds" [ngStyle]="{ width: '75%' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Order</th>
        <th>Type</th>
        <th>Races</th>
        <th>Participants</th>
        <th>Advances</th>
        <th>Enter</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-round>
      <tr>
        <td>{{ round.order + 1 }}</td>
        <td>{{ round.typeText }}</td>
        <td>{{ round.races.length }}</td>
        <td>{{ round.participantsCount }}</td>
        <td>{{ round.advancesCount }}</td>
        <td>
          <button
            type="button"
            pButton
            pRipple
            icon="pi pi-chevron-circle-right"
            ngClass="p-button-text"
            (click)="handleEnterRound(round.id)"
          ></button>
        </td>
        <td>
          <button
            type="button"
            pButton
            pRipple
            icon="pi pi-pencil"
            ngClass="p-button-text p-button-secondary"
            (click)="handleEditRound(round.id)"
          ></button>
        </td>
        <td>
          <button
            type="button"
            pButton
            pRipple
            ngClass="p-button-text p-button-danger"
            icon="pi pi-trash"
            [disabled]="round.order !== rounds.length - 1"
            (click)="handleDeleteRound(round.id)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog
  header="Confiugure circuit"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [(visible)]="isCircuitFormOpen"
  [style]="{ width: '50vw' }"
  (onHide)="closeDialog(false)"
>
  <app-circuit-form
    [existingCircuit]="seasonEvent.circuit"
    [seasonEventId]="seasonEventId"
    (closeSelf)="closeDialog(true)"
  />
</p-dialog>

<p-dialog
  header="Confiugure score rules"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [(visible)]="isScoreRulesFormOpen"
  [style]="{ width: '50vw' }"
>
  <app-season-event-score-rules-form
    [seasonEventId]="seasonEventId"
    [scoreRulesDto]="seasonEvent.scoreRules"
    (submittedScoreRules)="handleSubmittedScoreRules($event)"
  />
</p-dialog>

<p-dialog
  header="Confiugure rounds"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [(visible)]="isRoundFormOpen"
  [style]="{ width: '50vw' }"
  (onHide)="closeDialog(false)"
>
  <app-round-form
    [existingRound]="chosenRound"
    [participantsCount]="nextRoundParticipantsCount"
    [roundOrder]="nextRoundOrder"
    [seasonEventId]="seasonEventId"
    (closeSelf)="closeDialog(true)"
  />
</p-dialog>
