<div class="flex align-items-center flex-column w-full my-6" style="gap: 3rem">
  <div class="flex" [ngStyle]="{ gap: '1rem' }">
    <p-button
      label="Configure circuit"
      (onClick)="handleOpenCircuitForm()"
    ></p-button>

    <p-button
      label="Configure score rules"
      (onClick)="handleOpenScoreRulesForm()"
    ></p-button>
  </div>

  <span>
    Circuit: {{ seasonEvent.circuit?.name }}<br />
    Checkpoints: {{ seasonEvent.circuit?.checkpoints?.length }}
  </span>

  <div class="flex flex-column" [ngStyle]="{ gap: '0.5rem' }">
    <span *ngFor="let checkpoint of seasonEvent.circuit?.checkpoints">
      {{ checkpoint.position }}. {{ checkpoint.name }}
    </span>
  </div>
</div>

<p-dialog
  header="Confiugure circuit"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [(visible)]="isCircuitFormOpen"
  [style]="{ width: '50vw' }"
>
  <app-circuit-form
    [circuitDto]="seasonEvent.circuit"
    (submittedForm)="handleSubmittedCircuit($event)"
  />
</p-dialog>

<p-dialog
  header="Confiugure score rules"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [(visible)]="isScoreRulesFormOpen"
  [style]="{ width: '50vw' }"
>
  <app-season-event-score-rules-form
    (submittedScoreRules)="handleSubmittedScoreRules($event)"
  />
</p-dialog>
