<div class="h-full border-right-1 border-200">
  <p-table
    [value]="raceDto.results"
    styleClass="p-datatable-striped p-datatable-sm"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Points</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-result>
      <tr>
        <td class="text-xs text-gray-300">{{ result.position }}</td>
        <td>{{ result.car.name }}</td>
        <td>
          {{ result.points === 0 ? '-' : result.points.toFixed(3) }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
