i {
  font-size: 1.5rem;
  font-weight: lighter;
  color: var(--text-color);
}

.sidebar-expanded-text {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
